$color-white-01: white;
$color-black-01: black;

$font-size-small: 10px;
$font-size-normal: 12px;

.font {

    &-size {

        &-small {
            font-size: $font-size-small;
        }

        &-normal {
            font-size: $font-size-normal;
        }

    }
}